<div class="u-body u-xl-mode">
  <section class="u-clearfix u-image u-section-1" data-image-width="1600" data-image-height="1067">
    <img alt="" src="../../assets/HCV_logo_C-01.png" class="img">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div style="padding-right:20px;" class="u-container-style u-layout-cell u-size-28-md u-size-28-sm u-size-28-xs u-size-35-lg u-size-35-xl u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <h2 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1">
                  Human Capital Value (HCV)<br> est une
                   Société de conseil<br> en Management
                </h2>
                <p class="u-text-body-alt-color" style="margin-top: 23px; margin-left:20px;font-size: 20px;">
                   Human Capital Value (HCV) est une entreprise<br>
                    de consulting en Management qui aide <br>
                   les organisations nationales et internationales <br> (Entreprises privées, ONG, Fondations, etc.),<br>
                    à affiner leurs stratégies, à évaluer leurs projets et leurs équipes,<br>
                     à s'équiper en outils managériaux et à faire évoluer leur organisation<br>
                    pour mieux s'adapter à leur environnement.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-25-lg u-size-25-xl u-size-32-md u-size-32-sm u-size-32-xs u-layout-cell-2" >
              <div class="u-container-layout u-valign-bottom u-container-layout-2" >
                <div class="u-form u-palette-1-base u-radius-30 u-form-1" >

                  <form [formGroup]="contactForm" (ngSubmit)="send()" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 40px;">
                    <div class="u-form-group u-form-name">
                      <label for="name-2137" class="u-form-control-hidden u-label"></label>
                      <input formControlName="fullname" type="text" placeholder="Votre nom et prénom" id="name-2137" name="name" class="u-input u-input-rectangle u-radius-20 u-white" required="">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-2137" class="u-form-control-hidden u-label"></label>
                      <input formControlName="email" type="email" placeholder="Votre addresse email" id="email-2137" name="email"
                        class="u-input u-input-rectangle u-radius-20 u-white" required="">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-2137" class="u-form-control-hidden u-label"></label>
                      <input formControlName="object" type="email" placeholder="Objet" id="email-2137" name="email"
                        class="u-input u-input-rectangle u-radius-20 u-white" required="">
                    </div>
                    <div class="u-form-group u-form-message">
                      <label for="message-2137" class="u-form-control-hidden u-label"></label>
                      <textarea formControlName="subject" placeholder="Votre message" rows="4" cols="50" id="message-2137" name="message"
                        class="u-input u-input-rectangle u-radius-20 u-white" required=""></textarea>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                      <button type="submit" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-palette-1-light-3 u-radius-20 u-btn-1">Envoyer</button>
                    </div>
                  </form>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
