<div class="u-body u-xl-mode">
  <section class="u-align-center u-clearfix u-section-3">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-palette-1-base u-text-1">Projets</h2>
      <h4 class="u-align-center u-text u-text-default u-text-2"> Exemples de missions menées </h4>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-white u-section-4">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
        <ul class="u-spacing-5 u-tab-list u-unstyled">
          <li class="u-tab-item" >
            <a (click)= "activate1()" [ngClass]=" [active1] " class="u-active-palette-1-light-1 u-border-4 u-border-hover-grey-25 u-button-style u-hover-palette-1-light-2 u-radius-6 u-tab-link u-text-active-white u-text-grey-40 u-text-hover-white u-white u-tab-link-1"
            >
              Accompagnement&nbsp;au changement </a>
          </li>
          <li class="u-tab-item" >
            <a (click)= "activate2()" [ngClass]=" [active2] " class="u-active-palette-1-light-1 u-border-4 u-border-hover-grey-25 u-button-style u-hover-palette-1-light-2 u-radius-6 u-tab-link u-text-active-white u-text-grey-40 u-text-hover-white u-white u-tab-link-2"
            > Evaluation
              de&nbsp;projets&nbsp; </a>
          </li>
          <li class="u-tab-item" >
            <a (click)= "activate3()" [ngClass]=" [active3] " class="u-active-palette-1-light-1 u-border-4 u-border-hover-grey-25 u-button-style u-hover-palette-1-light-2 u-radius-6 u-tab-link u-text-active-white u-text-grey-40 u-text-hover-white u-white u-tab-link-3"
            > Recrutement
              de Managers&nbsp;et Cadres dirigeants&nbsp;</a>
          </li>
          <li class="u-tab-item u-tab-item-4" >
            <a (click)= "activate4()" [ngClass]=" [active4] " class="u-active-palette-1-light-1 u-border-4 u-border-hover-grey-25 u-button-style u-hover-palette-1-light-2 u-radius-6 u-tab-link u-text-active-white u-text-grey-40 u-text-hover-white u-white u-tab-link-4"
              id="tab-7fce" >
              Formation et Coaching</a>
          </li>
          <li class="u-tab-item u-tab-item-5" >
            <a (click)= "activate5()" [ngClass]=" [active5] " class="u-active-palette-1-light-1 u-border-4 u-border-hover-grey-25 u-button-style u-hover-palette-1-light-2 u-radius-6 u-tab-link u-text-active-white u-text-grey-40 u-text-hover-white u-white u-tab-link-5"> Études et Recherches</a>
          </li>
        </ul>
        <div class="u-tab-content">
          <div [ngClass]=" [show1] " class="u-container-style u-tab-pane u-white u-tab-pane-1">
            <div class="u-container-layout u-container-layout-1">
              <div class="u-container-style u-group u-group-1">
                <div class="u-container-layout">
                  <p class="u-align-left u-text u-text-default u-text-palette-1-base u-text-1">Clinique Soukra</p>
                  <p class="u-align-center u-text u-text-grey-40 u-text-2"> Refonte des processus managériaux par
                    l'adoption de la démarche compétences </p>
                  <img class="u-image u-image-default u-preserve-proportions u-image-1" src="../../assets/clinique-sokra.jpg"
                    alt="" data-image-width="350" data-image-height="350">
                  <div
                    class="u-container-style u-group u-palette-1-base u-preserve-proportions u-radius-15 u-shape-round u-group-2">
                    <div class="u-container-layout u-container-layout-3">
                      <h5 class="u-text u-text-3"> Etablissement des fiches de postes et des référentiels des
                        compétences
                        et des métiers de l'ensemble du personnel de la Clinique.</h5>
                    </div>
                  </div>
                  <p class="u-align-left u-text u-text-4"> En 10 ans, la Clinique a vécu une croissance rapide qui a
                    engendré des
                    dysfonctionnements organisationnels. Forte d'un personnel de plus 400
                    personnes, la Clinique s'est lancée dans un processus de refonte de ses
                    processus managériaux dans le but de faire évoluer et d'améliorer son
                    organisation du travail et par conséquent l'efficacité des équipes.</p>
                  <h4 class="u-align-left u-text u-text-palette-1-base u-text-5"> Intervention</h4>
                  <p class="u-text u-text-6"> Afin de clarifier les rôles et missions de chacun, et d'identifier les
                    interactions entre différents services d'une part, et entre le pôle
                    managérial et le pôle paramédical d'autre part, plus de 100 fiches de
                    postes et 40 référentiels de métiers et compétences ont été rédigés,
                    grâce à des entretiens avec l'ensemble du personnel.</p>
                  <h4 class="u-text u-text-7">
                    <span style="font-weight: 700;" class="u-text-palette-1-base">Résultat</span>
                    <span class="u-text-palette-1-base">
                      <span style="font-weight: 700;"></span>
                    </span>
                  </h4>
                  <p class="u-text u-text-8"> La Clinique a non seulement structuré et affiné son organisation, mais
                    elle a également amélioré ses processus managériaux comme la formation,
                    le recrutement et l'évaluation annuelle des performances du personnel.
                    L'établissement a par ailleurs réussi à obtenir en 2017 son
                    accréditation de la part de France Accréditation, qui inclut dans les
                    pratiques exigibles prioritaires de chaque établissement évalué la
                    Politique et l'organisation de l'évaluation des pratiques
                    professionnelles. </p>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]=" [show2] " class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-2">
            <div class="u-container-layout u-container-layout-4">
              <div class="u-container-style u-group u-group-3">
                <div class="u-container-layout u-container-layout-5">
                  <p class="u-align-left u-text u-text-default u-text-palette-1-base u-text-9">Taysir Conseil</p>
                  <p class="u-align-center u-text u-text-grey-40 u-text-10"> Evaluation finale du projet de Taysir
                    Conseil</p>
                  <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2"
                    src="../../assets/Taysir-Conseil.jpeg" alt="" data-image-width="208" data-image-height="242">
                  <p class="u-align-left u-text u-text-11"> Trois ans après le début du projet, Taysir Conseil, avec ses
                    partenaires
                    de projet dont notamment ADIE International, a souhaité mener une
                    évaluation finale afin de mesurer et d'analyser l'état d'avancement des
                    activités et la réalisation des résultats de son projet.</p>
                  <h4 class="u-align-left u-text u-text-palette-1-base u-text-12"> Intervention</h4>
                  <p class="u-text u-text-13"> Une évaluation a été conduite, mêlant analyse documentaire, enquêtes par
                    questionnaires, interviews et focus groups avec les principales parties
                    prenantes du projet, y compris les bénéficiaires. </p>
                  <div
                    class="u-container-style u-group u-palette-1-base u-preserve-proportions u-radius-15 u-shape-round u-group-4">
                    <div class="u-container-layout u-container-layout-6">
                      <h5 class="u-text u-text-14"> Evaluation finale du projet de Taysir Conseil, association de droit
                        tunisien proposant des services d'accompagnement des bénéficiaires des
                        Micro-crédits octroyés par Taysir Microfinance, première institution de
                        Microfinance accréditée en Tunisie.</h5>
                    </div>
                  </div>
                  <h4 class="u-text u-text-15">
                    <span style="font-weight: 700;" class="u-text-palette-1-base">Résultat</span>
                    <span class="u-text-palette-1-base">
                      <span style="font-weight: 700;"></span>
                    </span>
                  </h4>
                  <p class="u-text u-text-16"> L'évaluation a permis de dresser un état des lieux précis, mais aussi de
                    proposer des recommandations concrètes et pertinentes pour améliorer la
                    mise en œuvre des activités et leur suivi et pour assurer un bon
                    apprentissage au cours de la seconde partie du projet.</p>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]=" [show3] " class="u-container-style u-tab-pane u-white u-tab-pane-3">
            <div class="u-container-layout u-valign-top u-container-layout-7">
              <div class="u-container-style u-group u-group-5">
                <div class="u-container-layout u-container-layout-8">
                  <p class="u-align-left u-text u-text-palette-1-base u-text-17"> ELBA Tunisie, Groupe Hamelin</p>
                  <p class="u-align-center u-text u-text-grey-40 u-text-18"> Recherche et sélection d'un Directeur
                    d'Usine</p>
                  <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-3"
                    src="../../assets/Hamelin-Logo.png" alt="" data-image-width="200" data-image-height="34">
                  <div
                    class="u-align-center u-container-style u-group u-palette-1-base u-radius-22 u-shape-round u-group-6"
                    data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Right">
                    <div class="u-container-layout u-container-layout-9">
                      <p class="u-custom-font u-font-merriweather u-text u-text-19"> Recherche et sélection d'un
                        Directeur d'usine</p>
                    </div>
                  </div>
                  <p class="u-align-left u-text u-text-20"> Suite à la montée en cadence de la production du site d'Elba
                    Tunisie,
                    rattaché au Groupe français Hamelin spécialisé en papeterie et
                    fournitures de bureau, des besoins en amélioration de l'organisation,
                    des processus et des méthodes ont été constatés. Par conséquent, le site
                    avait besoin d'un directeur avec une nouvelle vision industrielle et de
                    fortes compétences managériales.</p>
                  <h4 class="u-align-left u-text u-text-palette-1-base u-text-21"> Intervention</h4>
                  <p class="u-text u-text-22"> Un processus de recherche de profils adéquats par approche directe et
                    par appel à candidatures a été lancé. Les profils sélectionnés suite aux
                    premiers entretiens ont été reçus pour des évaluations approfondies des
                    personnalités des candidats et de leurs aptitudes managériales. Le
                    résultat de ces évaluations ont aidé le Groupe dans sa prise de décision
                    finale. </p>
                  <h4 class="u-text u-text-23">
                    <span style="font-weight: 700;" class="u-text-palette-1-base">Résultat</span>
                    <span class="u-text-palette-1-base">
                      <span style="font-weight: 700;"></span>
                    </span>
                  </h4>
                  <p class="u-text u-text-24"> Un nouveau directeur d'usine dont le profil correspondait au référentiel
                    établi et aux besoins de l'usine a été recruté.</p>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]=" [show4] " class="u-container-style u-tab-pane u-white u-tab-pane-4">
            <div class="u-container-layout u-container-layout-10">
              <div class="u-container-style u-group u-group-7">
                <div class="u-container-layout u-container-layout-11">
                  <p class="u-align-center u-text u-text-grey-40 u-text-25"> Coaching
                    dans le cadre de la formation « Agents de changement » à l'Académie
                    Internationale de la Bonne Gouvernance au sein de l'ENA&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                  <p class="u-align-left u-text u-text-palette-1-base u-text-26"> Ecole Nationale d'Administration et
                    GIZ</p>
                  <p class="u-align-left u-text u-text-27"> Les hauts cadres de l'administration publique tunisienne
                    n'ont pas, à
                    ce jour, suffisamment accès à une formation mettant en avant la
                    dimension pratique qui leur permettrait d'acquérir et d'approfondir les
                    qualifications ainsi que les compétences requises dans le contexte
                    actuel. Il y a notamment un besoin d'accompagnement pour mener à bien le
                    processus de transformation dans les différents secteurs politiques,
                    dans le domaine du leadership, de la gestion du changement et du travail
                    en équipe et ce dans le cadre d'un Etat de droit démocratique.
                    L'Académie Internationale de la Bonne Gouvernance (AIBG) offre des
                    cycles de formation pour des hauts cadres issus de l'administration
                    publique, du secteur privé et de la société civile afin de renforcer les
                    bonnes pratiques et le respect des principes de la bonne gouvernance
                    dans la gestion publique. Selon son approche multi-acteurs et
                    multisectorielle, l'Académie Internationale de la Bonne Gouvernance se
                    propose ainsi de renforcer le changement politique dans des domaines
                    concrets.</p>
                  <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-4"
                    src="../../assets/ENA.png" alt="" data-image-width="160" data-image-height="160">
                  <div
                    class="u-align-center u-container-style u-group u-palette-1-base u-radius-22 u-shape-round u-group-8"
                    data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Right">
                    <div class="u-container-layout u-container-layout-12">
                      <p class="u-custom-font u-font-merriweather u-text u-text-28"> Coaching et appui technique pour
                        l'élaboration d'un projet de changement</p>
                    </div>
                  </div>
                  <h4 class="u-align-left u-text u-text-palette-1-base u-text-29"> Intervention</h4>
                  <p class="u-text u-text-30"> Un coaching dans la gestion du changement et le transfert des savoirs
                    acquis lors des formation est proposé aux participants. Il consiste en
                    l'accompagnement et l'animation du groupe des participants tout au long
                    de la formation afin de garantir que le projet de changement concret
                    soit réellement établi à la fin de la session par les participants. Un
                    appui technique et méthodologique en conception de projet est également
                    fourni aux cadres participants. </p>
                  <h4 class="u-text u-text-31">
                    <span style="font-weight: 700;" class="u-text-palette-1-base">Résultat</span>
                    <span class="u-text-palette-1-base">
                      <span style="font-weight: 700;"></span>
                    </span>
                  </h4>
                  <p class="u-text u-text-32"> Un nouveau directe Deux groupes de 30 hauts cadres de la fonction
                    publique ont été
                    accompagnés en 2016 et 2017 dans l'élaboration de deux projets de
                    changement portant sur "la bonne gouvernance de la commande publique
                    dans le secteur de la santé" et sur "la bonne gouvernance des projets
                    publics".ur d'usine dont le profil correspondait au référentiel
                    établi et aux besoins de l'usine a été recruté.</p>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]=" [show5] " class="u-container-style u-tab-pane u-white u-tab-pane-5">
            <div class="u-container-layout u-valign-top u-container-layout-13">
              <div class="u-container-style u-group u-group-9">
                <div class="u-container-layout u-container-layout-14">
                  <p class="u-align-center u-text u-text-grey-40 u-text-33"> Etude de positionnement des principaux
                    partis politiques tunisiens en matière de politique énergétique et environnementale</p>
                  <p class="u-align-left u-text u-text-palette-1-base u-text-34"> La Fondation des Verts Allemands
                    Heinrich Boell</p>
                  <p class="u-align-left u-text u-text-35"> Le programme de la Fondation Heinrich
                    Boell se focalise sur l'axe des politiques énergétiques et de la
                    gouvernance des ressources naturelles. Elle ambitionne de s'impliquer
                    davantage sur ces thématiques en apportant son appui technique aux
                    débats et projets de réforme à venir.</p>
                  <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-5"
                    src="../../assets/hcv_hbs_logo.jpg" alt="" data-image-width="150" data-image-height="150">
                  <h4 class="u-align-left u-text u-text-palette-1-base u-text-36"> Intervention</h4>
                  <p class="u-text u-text-37"> Une étude sur les visions et propositions des principales formations
                    politiques tunisiennes a été réalisée. D'abord, une analyse comparative
                    des propositions des partis politiques ciblés a été menée sur la base de
                    leurs programmes électoraux. Ensuite, une enquête par questionnaire et
                    des interviews ont été conduits avec les partis concernés. </p>
                  <h4 class="u-text u-text-38">
                    <span style="font-weight: 700;" class="u-text-palette-1-base">Résultat</span>
                    <span class="u-text-palette-1-base">
                      <span style="font-weight: 700;"></span>
                    </span>
                  </h4>
                  <div
                    class="u-align-center u-container-style u-group u-palette-1-base u-radius-22 u-shape-round u-group-10"
                    data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Right">
                    <div class="u-container-layout u-container-layout-15">
                      <p class="u-custom-font u-font-merriweather u-text u-text-39"> réalisation d'une étude</p>
                    </div>
                  </div>
                  <p class="u-text u-text-40"> L'étude a apporté des clarifications sur le positionnement des
                    formations politiques sur la question environnementale et écologique et
                    sur leur vision de la transition énergétique en Tunisie.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
